params {
    models = '/storage2/fs1/dspencer/Active/spencerlab/dnidhi/projects/chromhmm/CD34/learnmodel/outputdir10/model_10.txt,/storage2/fs1/dspencer/Active/spencerlab/dnidhi/projects/chromhmm/CD34/learnmodel/outputdir15/model_15.txt,/storage2/fs1/dspencer/Active/spencerlab/dnidhi/projects/chromhmm/CD34/learnmodel/outputdir20/model_20.txt'
}